/*
    This styling follows a mobile first approach.
    Variables are in the topmost part. Then elements, ID, and finally class.
*/

// Colour Schemes
$Primary: #000018;
$Secondary: #FFFFFF;
$Tertiary: #CECDFF;

// Default Font size
$mobileFontSize: 18px;
$desktopFont: 24px;

//Border Radius
$borderRadius: 1rem;

// Margin & Padding Properties
$mobileTopMargin: 1em;
$mobileMainPadding: 1rem;
$mobileHeaderTextPadding: 8%;

// Default Body Styling
body {
    background-color: $Tertiary;
    color: $Primary;
    font-size: $mobileFontSize;
    text-align: center;

    padding: 0;
    margin: 0;
}

// Default H1 Styling
h1 {
    margin: 0.3em;
    font-family: Cinzel;
    font-size: 1.77rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
}

// Giving the Content a bit of a padding
#main {
    padding: $mobileMainPadding;
}

// Header Section of Webpage
#header {
    // Header Background
    border-radius: 0px 0px $borderRadius $borderRadius;
    background: rgba(255, 255, 255, 0.82);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(28px);

    // Header Typography
    #header-text {
        // Header Text Alignment
        padding: $mobileHeaderTextPadding;
        text-align: center;

        // Header Text Styling
        color: $Primary;
        font-family: Cinzel;
        font-size: 2rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.54px;
    }
}

// Styling the Profile Picture (Section)
#pfp {
    margin-top: $mobileTopMargin;

    img {
        width: 100%;
        height: 112px;
        flex-shrink: 0;
        object-fit: cover;

        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
        border-radius: $borderRadius;
    }
}

// Styling of all the different Sections of the Page
.section {
    // Background
    border-radius: 10px;
    background: var(--Secondary, #FFF);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);

    // Padding & Alignment
    padding: 1em;
    margin-top: $mobileTopMargin;
}

// The Regular Font Style
.regular {
    margin: 0.3em;

    font-family: Cinzel;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 136.3%;
    letter-spacing: 0.9px;
}